[Desktop Entry]
Version=1.0
Type=Application
Name=Version Sticker
Comment=Verbose version sticker
Exec=bash -c 'echo "Wait..." ; /dockerstartup/version_sticker.sh -V ; read -p "Press ENTER..."'
Icon=easytag
Path=/dockerstartup
Terminal=true
StartupNotify=false
