### This files configures the environment (including secrets!) for the local builder utility (builder.sh).
### You should source this file yourself before using the local builder utility.
### Rename the file to "secrets.rc" (or similar) and **make sure** that the '.gitignore' and '.dockerignore' files 
### contain the 'secret*' exclusion pattern!

### Required only for publishing README on Docker Hub.
### These values can be also provided or overriden through the utility input arguments.
### !!! REAL SECRETS !!!
### warning! this credentials are valid for all Docker Hub repositories of the same owner!
export DOCKERHUB_USERNAME="xxxxxx"
export DOCKERHUB_PASSWORD="xxxxxx"
